.addCategory{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    &__input{
        width: 60%;
        input{
            height: 35px;
            border: 1px solid #083AA9;
        }
    }
    &__button{
        margin: 5px 0;
        background-color: #083AA9;
        width: 40%;
        height: 35px;
        cursor: pointer;
    }
    &__hide{
        display: none;
    }
}